/* line 6, /Users/youse/Desktop/FEI/EngSoftware/MyVersion/app/assets/stylesheets/alunos.scss */
.students-list td:nth-child(1) {
  width: 100px;
}
/* line 10, /Users/youse/Desktop/FEI/EngSoftware/MyVersion/app/assets/stylesheets/alunos.scss */
.students-list td:nth-child(2) {
  width: 100px;
}
/* line 14, /Users/youse/Desktop/FEI/EngSoftware/MyVersion/app/assets/stylesheets/alunos.scss */
.students-list td:nth-child(3) {
  width: 20px;
}
/* line 18, /Users/youse/Desktop/FEI/EngSoftware/MyVersion/app/assets/stylesheets/alunos.scss */
.students-list td:nth-child(4) {
  width: 20px;
}
/* line 22, /Users/youse/Desktop/FEI/EngSoftware/MyVersion/app/assets/stylesheets/alunos.scss */
.students-list td:nth-child(5) {
  width: 20px;
}
