<h1>Editar Produto</h1>

<%= render 'form', produto: @produto %>

<%= link_to 'Mostrar', @produto %> |

<%= link_to admin_produtos_path do %>
  <i class="fa fa-6 fa-home" aria-hidden="true"></i> Voltar
<% end %>
