// Place all the styles related to the alunos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.students-list {
  td:nth-child(1) {
      width: 100px;
  }

  td:nth-child(2) {
      width: 100px;
  }

  td:nth-child(3) {
      width: 20px;
  }

  td:nth-child(4) {
      width: 20px;
  }

  td:nth-child(5) {
      width: 20px;
  }
}
