.fa-home {
  font-size: 20px !important;
}

.trash-product-from-cart {
  font-family: arial;
  font-size: 18px;
  color: #fff !important;
}

.shopping-cart-button {
  font-size: 18px !important;
  color: white !important;
  font-family: arial;
}

.sign-out-button {
  font-size: 18px !important;
  color: white !important;
}

.fa-check {
  font-size: 20px !important;
  color: white !important;
}
