// // Place all the styles related to the Produtos controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// .background{
//  background-image: url(/images/food-wallpaper-24.jpg);
//  background-repeat: no-repeat;
//  background-size:80%;
//  bottom: 0;
//  color: black;
//  left: 0;
//  overflow: auto;
//  padding: 3em;
//  position: absolute;
//  right: 0;
//  text-align: center;
//  top: 0;
// }
//
//  .product-list {
//   td:nth-child(1) {
//       width: 20px;
//   }
//
//   td:nth-child(2) {
//       width: 50px;
//   }
//
//   td:nth-child(3) {
//       width: 100px;
//   }
//
//   td:nth-child(4) {
//       width: 20px;
//   }
//
//   td:nth-child(5) {
//       width: 20px;
//   }
//
//   td:nth-child(6) {
//       width: 20px;
//   }
// }


.container {
  .navbar-brand {
    font-size: 40px;
    font-family: monospace;
    color: #3c7a87;
    left: 0;
  }

  .navbar-for {
    list-style-type: none;
  }
}
